NODE_ENV=production  # or production

# add your own main and pass
mail=
pass=

PORT=4000
DB_URL="mongodb+srv://arifshahriar028_db_user:Al1Bg4WxcxsiUQl5@cluster0.rntpv0s.mongodb.net/"
HASH_ALGORITHM=sha256
REDIS_HOST=
REDIS_PORT=
